*{
  margin: 0;
  padding: 0;
}



/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* two columns that float next to eachother */
.column {
  float: right;
  width: 100%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*--PHONE DESIGN FIRST--*/
/*--START- ABOUT PAGE SECTION--*/
.content-section{
  width: 100%;
}

.content-section::after{
  display: block;
  clear: both;
  content: "";
}

.img-composite-bio{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 1.25rem;
width:50%

}

.bio-composite{
width:100%
}

.bio-composite h2{
  padding: 1.25rem 1.875rem 1.25rem;
  font-family: arial;
  font-size: 2.5rem;
  color: black;
}

.bio-composite p{
  padding: 0rem 1.875rem 1.25rem;
  font-family: arial;
  font-size: 1rem;
  color: black;
  line-height: 1.5rem;
}

#nav-link-citation{
  display: none;
}

footer{

  background-color: black;
  width: 100%;
  height: 60px;



}
#nav-link-citation-footer{

  color:white;
  background-color: grey;
  list-style: none;
  font-family: Arial;
  font-size: 16px;
  margin: 20px auto;
  width: fit-content;

}
/*--END - ABOUT PAGE SECTION--*/

/*--START --PROJECT PAGE SECTION--*/
.img-composite-description{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  width:100%;
  padding: 0rem 1.875rem 1.25rem;
}

.project-composite{
width:100%;
}

.project-composite h2{
  padding: 1.25rem 1.875rem 1.25rem;
  font-family: arial;
  font-size: 2.5rem;
  color: black;
}

.project-composite p{
  padding: 0rem 1.875rem 1.25rem;
  font-family: arial;
  font-size: 1rem;
  color: black;
  line-height: 1.5rem;
}



.intext-link{
  color:red;
  decoration: none;
}

.wrapper{
  width: 50%;
}

.img-banner{
  display: none;
}

.bio-info{
  width:100%;
}

.bio-info h2{
  padding: 1.875rem 1.875rem 1.25rem;
  font-family: arial;
  font-size: 3.125rem;
  color: black;
  line-height: 2.75rem;
}

.bio-info p{
  padding: 0rem 1.875rem 1.25rem;
  font-family: arial;
  font-size: 1rem;
  color: black;
  line-height: 1.5rem;
}



@media only screen and (min-width: 600px) {

  footer{
    display: none;
  }

  .img-composite-bio{
    float:left;
    width: 40%;
    padding-left: 1.25rem;

  }

  .bio-composite{
  float:right;
  width: 60%;
  }

  #nav-link-citation{
    display: block;
  }

  .img-composite-description{
    width: 50%;
    float:left;
  }

  .project-composite{
    width: 50%;
    float:right;
  }


  .img-banner{
    display: block;
    width: 25%;

  }

  .wrapper{
    width: 37.5rem;
    margin: 0 auto;
  }

  .bio-info h2{
    padding: 1.25rem 0 0;

  }

  .bio-info p{
    padding: 1.25rem 0 0;
  }

  .images {
    padding-top: 1.875rem;
  }
}


@media only screen and (min-width: 837px) {


  .img-composite-bio{
    float:left;
    width: 334.8px;
    height: 372.3px;
    padding-left: 1.25rem;

  }



@media only screen and (min-width: 1000px) {


  .wrapper{
    width: 62.5rem;
  }

  .bio-info{
    width:50%;
    float: right;
  }

  .bio-info h2{
    padding: 1.25rem 0 0 1.875rem;

  }

  .bio-info p{
    padding: 1.25rem 0 0 1.875rem;
  }

    .images {
    padding-top: 1.25rem;
    width: 50%;
    float:left;
  }
}
